<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Net-Instructor.ro</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/bootstrap-grid.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/bootstrap-reboot.css')}}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/modern-business.css')}}" rel="stylesheet">

</head>
<body style="background-color: #c6cdd2">
  {% include "includes/bara_navigare.html" %}
  {% block content %}

  {% endblock %}
  {% include "includes/footer.html" %}

 <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename='/js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='/js/contact_me.js')}}"></script>
  <script src="{{url_for('static', filename='/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='/js/jqBootstrapValidation.js')}}"></script>
  <script src="{{url_for('static', filename='/js/jquery.slim.js')}}"></script>


</body>

</html>
