{% extends "base.html" %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">Contact
              <small></small>
            </h1>

            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{ url_for('index')}}">Home</a>
              </li>
              <li class="breadcrumb-item active">Contact</li>
            </ol>

    <!-- Content Row -->
        <div class="row">
        {#      &lt;!&ndash; Map Column &ndash;&gt;#}
              <div class="col-lg-8 mb-4">
        {#        &lt;!&ndash; Embedded Google Map &ndash;&gt;#}
                <img class="img-fluid rounded" style="max-width:100%; height:500px" src="{{url_for('static', filename='img/poligon_moto.jpg')}}">
              </div>
        {#      &lt;!&ndash; Contact Details Column &ndash;&gt;#}
              <div class="col-lg-4 mb-4">
                <h3>Contact Details</h3>
                <p>
                  Calea Dorobantilor 1
                  <br>Cluj-Napoca, CJ 400001
                  <br>
                </p>
                <p>
                  Phone: (123) 456-7890
                </p>
                <p>
                  Email :
                  <a href="mailto:name@example.com">name@example.com
                  </a>
                </p>
                <p>
                  Orar : Luni - Vineri: 9:00 - 17:00
                </p>
              </div>
            </div>
            <!-- /.row -->

            <!-- Contact Form -->
            <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->

                  <div class="col-lg-9 mb-4">
                      <div class="col-lg-9 mb-4">
                            <h4>Contactati-ne !!</h4>
                            <h6>In caz ca sunteti interesat de serviciile noastre, lasati un mesaj si va vom contacta in cel mai scurt timp!</h6>
                      </div>
                      <form action="{{ url_for('contact_me') }}" method="POST">
                          <div class="row">
                <div class="col-lg-6 mb-4">

                          <div>
                                {{ form.hidden_tag() }}
                                  <label>Nume si prenume: </label><br>
                                  {{ form.nume(placeholder='nume', size='50') }}<br>
                                  <label>Telefon :</label><br>
                                  {{ form.telefon(placeholder='telefon', size='50') }}<br>
                                  <label>Email :</label><br>
                                  {{ form.email(placeholder='email@email.com', size='50') }}<br>
                          </div>

                </div>
                <div class="col-lg-6 mb-4">
                    <div>
                                  <label>Mesajul dvs.</label><br>
                                  {{ form.mesaj(placeholder='Max. 500 caractere') }}

                    </div>
                </div>
            </div>
                      </form>
                  </div>

        </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock %}