{% extends "base.html" %}


{% block content %}

<div class="container">
            <h1 class="mt-4 mb-3">Conectare
              <small></small>
            </h1>

            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{ url_for('index')}}">Home</a>
              </li>
              <li class="breadcrumb-item active">Intrati in cont</li>
            </ol>
            <hr>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissable d-flex justify-content-around" role="alert" style="text-align: center">
                                        <div class="justify-content-around" style=" text-align: center">
                                            {{message}}
                                        </div>
                                        <div class="justify-content-around" style="text-align: center">
                                             <button type="button" class="close float-right" data-dismiss="alert" aria-label ="close" style="text-align: center">
                                                 <span aria-hidden="true" class="float-right" style="text-align: center">&times;</span>
                                             </button>
                                        </div>

                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
    <div class="row">
        <div class="col-lg-8 mb-6">
            <h3>Daca aveti deja un cont folostiti credentialele pentru logare</h3>
            <h6>In cazul in care nu avet apasati <a href="{{url_for('cont_nou')}}"><span style="text-decoration: underline; font-weight: bold">Creaza cont</span></a> pentru a va inregistra</h6>
                <form name="login" action="/logare" method="POST">
                    {{form.hidden_tag()}}
                    <div class="row">
                          <div class="col-lg-6 mb-6">
                                <div class="card h-200">
                                    <div class="card-body">
                                        <label>Utilizator</label><br>
                                        {{ form.utilizator(placeholder='Utilizator') }}
                                    </div>
                                </div>
                                        {% if form.utilizator.errors %}
                                        <ul class="errors">
                                        {% for error in form.utilizator.errors %}<li>{{ error }}</li>{% endfor %}
                                        </ul>
                                        {% endif %}
                          </div>
                          <div class="col-lg-6 mb-6">
                                <div class="card h-200">
                                    <div class="card-body">
                                        <label>Parola</label><br>
                                        {{ form.parola(placeholder='Introduceti parola') }}
                                    </div>
                                </div>
                                        {% if form.parola.errors %}
                                        <ul class="errors">
                                        {% for error in form.parola.errors %}<li>{{ error }}</li>{% endfor %}
                                        </ul>
                                        {% endif %}
                          </div>
                    </div>
                  <!-- For success/fail messages -->
                    <hr>
                    <div id="success">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Intrati in cont</button>
                    </div>
                </form>
        </div>
    </div>


    <!-- /.row -->
    <hr style="background-color: #f59321">

    <div class="row">
           <div class="col-lg-6">
                                    <h2>Net-Instructor</h2>
                                        <p>Aplicatie de gestiune a activitatii de scolarizare a instructorilor auto:</p>
                                    <ul>
                                        <li>
                                            <strong>Ce va oferim :</strong>
                                        </li>
                                        <li>Mobilitate</li>
                                        <li>Gestiune centralizata</li>
                                        <li>Accesarea informatiilor multidevice ( Laptop, Tableta, Telefon )</li>
                                        <li>Tehnologii in pas cu vremurile in care traim</li>
                                    </ul>
                                    <p></p>
                            </div>
          <div class="col-lg-6">
            <img class="img-fluid rounded" src="{{url_for('static', filename='img/poligon_moto.jpg')}}" alt="">
          </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
{#    <div class="row mb-4">#}
{#          <div class="col-md-8">#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>#}
{#          </div>#}
{#          <div class="col-md-4">#}
{#            <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>#}
{#          </div>#}
{#    </div>#}

</div>


{% endblock %}



