
<!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index')}}">Net-Instructor &nbsp<span>{% if current_user.is_authenticated %} -&nbsp{{ current_user.prenume }} {% endif %}</span></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('clienti')}}">Registru cursanti</a>
          </li>
          {% endif %}
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="{{ url_for('logare')}}">Fisa client</a>-->
<!--          </li>-->
          {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logare')}}">Intra in cont</a>
          </li>
          {% endif %}
          {% if current_user.is_anonymous %}
               <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cont_nou')}}">Inregistreaza cont nou</a>
              </li>
          {% elif current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#">Profil utilizator</a>
              </li>
          {% endif %}
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--              Other Pages-->
<!--            </a>-->
<!--            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">-->
<!--              <a class="dropdown-item" href="full-width.html">Full Width Page</a>-->
<!--              <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>-->
<!--              <a class="dropdown-item" href="faq.html">FAQ</a>-->
<!--              <a class="dropdown-item" href="404.html">404</a>-->
<!--              <a class="dropdown-item" href="pricing.html">Pricing Table</a>-->
<!--            </div>-->
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact_me')}}">Contact</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('delogare')}}">Iesire</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </div>
  </nav>